<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="./vue.js"></script>
    <script>
        Vue.component('tree-folder' , {
            template:`
            <p>
                <span>{{ folder.name }}</span>
                <tree-folder-contents :children="folder.children"/>
            </p>
            `
        })
        Vue.component('tree-folder-contents' , {
            template:`
            <ul>
                <li v-for="child in children">
                    <tree-folder v-if="child.children" :folder="child"/>
                    <span v-else>{{ child.name }}</span>
                </li>
            </ul>
            `
        })
    </script>
</body>
</html>