<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
</head>
<body>
  <form action="/queryUser" method="post">
      账号：<input type="text" name="account"><br>
      密码：<input type="password" name="password"><br>
      <input type="submit" value="登录">
  </form>
  <div class="layui-fluid">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
          <div class="layui-form-item">
                  <a href="/turn" class="layui-btn">注册</a>
          </div>
      </div>
  </div>

</body>
</html>